.App {
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	align-items: center;
	min-height: 100vh;
	background-color: grey;
	font-size: 20px;
}

.App-logo {
	height: 30rem;
}

.App-header {
	color: white;
}

.App-link {
	color: #09d3ac;
}
